@reference "tailwindcss";

.fade-enter-active,
.fade-leave-active {
  transition: opacity 1s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.layout-enter-active,
.layout-leave-active .page-enter-active,
.page-leave-active {
  transition: opacity 1s ease;
}

a {
  text-decoration: none;
}

.contain {
  @apply px-5 sm:px-4 lg:mx-auto lg:max-w-[1220px];
}

.button {
  @apply bg-white dark:bg-green-400 dark:text-slate-600 dark:border-green-600 rounded-full px-8 py-2 shadow-sm hover:shadow-lg font-medium transition-all border border-gray-100;
}

/*
 *  STYLE 7
 */

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
  border-radius: 10px;
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(
    to top,
    var(--color-green-600) 44%,
    var(--color-green-400) 72%,
    var(--color-green-300) 86%
  );
}

html,
body,
#__nuxt {
  min-height: 100vh;
}
